# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# Authentication
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d

# Logger
LOG_LEVEL=info

# Mailer
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_TO=